<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>728072587519-heit3h8mnmlnvui49r1o6hvdhenrcr8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728072587519-heit3h8mnmlnvui49r1o6hvdhenrcr8j</string>
	<key>API_KEY</key>
	<string>AIzaSyC2eyu5pU8VWXkAXAh31Tx-_9oxInOYdZg</string>
	<key>GCM_SENDER_ID</key>
	<string>728072587519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codingbytes.Pozativity</string>
	<key>PROJECT_ID</key>
	<string>pozativity</string>
	<key>STORAGE_BUCKET</key>
	<string>pozativity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728072587519:ios:3f2ab7e2a7f4cd96</string>
	<key>DATABASE_URL</key>
	<string>https://pozativity.firebaseio.com</string>
</dict>
</plist>